
form {
  display: inline-block;
  margin-top: 50px;
margin-left: 650px;
  
  width: 2000px;

  
}

  label {
    display: flex;
    margin: 1rem 0;
   
  
  }

   
      #get {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(102, 101, 101);
        
      }

      #put {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(102, 101, 101);
      }

      #post {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(102, 101, 101);
      }


      #delete {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(102, 101, 101);
      }


        .hover{background-color: rgb(188, 63, 63);} 
        .active {
          background-color: rgb(188, 63, 63);
           
        }
      